extends partial/_base.jade

//- コンテンツカラム
//- ------------------------------------------------------------
block contentColumn
	- var contentColumn = "oneColumn"

//- ページクラス
//- ------------------------------------------------------------
block pageClass
	- var pageClass = ""

//- index用CSS
//- ------------------------------------------------------------
//- block append css
//- 	link(rel="stylesheet", href="#{assetsCss}index.css")

//- head要素
//- ------------------------------------------------------------
//- block title
//- 	|inxex
//- block keywords
//- 	meta(name="keywords", content="")
//- block description
//- 	meta(name="description", content="")
//- block canonical
//- 	link(rel="canonical", href="")

//- facebook
//- ------------------------------------------------------------
//- block facebook
//- 	meta(property="og:title", content="記事のタイトル")
//- 	meta(property="og:type", content="article")
//- 	meta(property="og:description", content="記事の説明")
//- 	meta(property="og:url", content="記事のURL")
//- 	meta(property="og:image", content="画像のURL")
//- 	meta(property="og:site_name", content="サイトのタイトル")
//- 	meta(property="og:locale", content="言語")
//- 	meta(property="fb:admins", content="facebookのユーザーID")
//- 	meta(property="fb:app_id", content="facebookのアプリID")

//- サイドカラム
//- ------------------------------------------------------------
//- block side
//- 	include partial/jade/side.jade

//- ------------------------------------------------------------
//- コンテンツ
//- ------------------------------------------------------------
block main
	#main
		p
			a(href="list.html") list
		p(style="font-size:10px;")
			|footer 10px
		p(style="font-size:14px;")
			|footer 14px
		p(style="font-size:100%;")
			|footer 100%
		p.test
			|footer テスト

