@charset "UTF-8";

/* layout style [レイアウト]
=========================================================== */

/* ===========================================================

   common elements

=========================================================== */
html{
}

body{
}

.clear{
	clear:both;
}



/* ===========================================================

   #page

=========================================================== */
#page{
}



/* ===========================================================

   #header

=========================================================== */
#header{
}

#header .logo{
}

#header .lead{
}


/* ===========================================================
   #globalNavi
=========================================================== */
#header #globalNavi{
}

#header #globalNavi ul{
}

#header #globalNavi ul li{
}

#header #globalNavi ul .navi01{
}

#header #globalNavi ul .navi02{
}

#header #globalNavi ul .navi03{
}

#header #globalNavi ul .navi04{
}

#header #globalNavi ul .navi05{
}




/* ===========================================================

   #content

=========================================================== */
#content{
}


/* ===========================================================

   #main

=========================================================== */
#main{
}


/* ===========================================================

   #side

=========================================================== */
#side{
}


/* ===========================================================

   #footer

=========================================================== */
#footer{
	clear:both;
}


/* ===========================================================
   .footerLink
=========================================================== */
#footer .footerLink{
	margin:5px 0;
}

#footer .footerLink ul{
	text-align:right;
}

#footer .footerLink ul li{
	display:inline-block;
	margin-left:11px;
}


/* ===========================================================
   #copy
=========================================================== */
#footer #copy{
	margin:5px 0;
	text-align:right;
}


