@charset "UTF-8";

/* -----------------------------------------------------------
 print style [プリント]
----------------------------------------------------------- */

/* -----------------------------------------------------------
 hide element
----------------------------------------------------------- */
/*#header,
#menu{
	display:none;
}*/

body{
	font-size:12px;
	background-color:#FFFFFF;
	color:#333333;
}

* html body{
	zoom:60%;
}
