extends ../partial/_base.jade

//- コンテンツカラム
block contentColumn
	- var contentColumn = "oneColumn"

//- ページクラス
block pageClass
	- var pageClass = ""

//- 個別CSS
//- block css
//- 	link(rel="stylesheet", href="#{assetsCss}style.css")

//- ページタイトル
block title
	|リストサンプル

//- サイドカラム
//- block side
//- 	include partial/jade/side.jade

//- コンテンツ
block main
	#main
		.inner
			.contentTitleH1
				h1.title リストサンプル

			.mgt50
				ul.attention
					li ※テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					li ※テキストテキストテキストテキストテキストテキストテキスト
					li ※テキストテキストテキストテキストテキストテキストテキスト

			.mgt50
				ul.attention.red
					li ※テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					li ※テキストテキストテキストテキストテキストテキストテキスト
					li ※テキストテキストテキストテキストテキストテキストテキスト

			.mgt50
				ul.notesDot
					li テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					li テキストテキストテキストテキストテキストテキストテキスト
					li テキストテキストテキストテキストテキストテキストテキスト

			.mgt50
				ul.notesDot.red
					li テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					li テキストテキストテキストテキストテキストテキストテキスト
					li テキストテキストテキストテキストテキストテキストテキスト

			.mgt50
				ul.notesCircle01
					li テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					li テキストテキストテキストテキストテキストテキストテキスト
					li テキストテキストテキストテキストテキストテキストテキスト

			.mgt50
				ul.notesCircle01.red
					li テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					li テキストテキストテキストテキストテキストテキストテキスト
					li テキストテキストテキストテキストテキストテキストテキスト

			.mgt50
				.relatedLinks
					ul
						li: a(href="") サービス比較表
						li: a(href="") 為替照会
						li: a(href="") 送金国・通貨
						li: a(href="") 送金方法および国別/代理店毎の制約事項
						li: a(href="") ああああああああああああ
						li: a(href="") ああああああああああああ
						li: a(href="") ああああああああああああ
						li: a(href="") ああああああああああああ
						li: a(href="") ああああああああああああ

			.mgt50
				.gnFrame
					.gnColumn.privacy
						.imgWrap
							img(src="#{assetsImg}common/icon_privacy_mark.png", alt="プライバシーポリシー")
						.textWrap
							.notesCircle01.red
								ul
									li
										|お問い合わせの回答はメールを利用して行います。
										br
										|必ず受信可能なメールアドレスを入力してください。
									li
										|このフォームからは、各種お手続きやご送金のお申込を受け付けることができません。
										br
										|ログインして所定のお手続きをいただくか、カスタマーセンターまでお電話にてお問い合わせください。
									li
										|お問い合わせの内容によっては、回答に時間がかかる場合がありますのであらかじめご了承ください。
									li
										|enRimitはお客様のプライバシーを大切にいたします。