/*
---------------------------------------------
メイン
---------------------------------------------
*/
#main{
}

#main ul{
}

#main ul li{
}

#main ul li img{
	width: 100%;
	height: auto;
}

/*
---------------------------------------------
コンテンツ
---------------------------------------------
*/
#content{
}

/*
---------------------------------------------
What's New
---------------------------------------------
*/
#newsArea{
	background-image: url("../images/newsarea-border.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	overflow: hidden;
	padding: 60px 0 95px;
}

#newsArea h2{
	text-align: center;
	margin-bottom: 50px;
}

#newsAreaInner{
	overflow: hidden;
	width: 1283px;
	margin: 0 auto;
}

#newsArea ul{
	float: left;
	padding: 0 10px;
	border-right: 1px solid #666666;
}

#newsArea ul:last-child{
	border-right: none;
}

#newsArea ul li{
	background-image: url("../images/news-select.gif");
	background-size: 300px 10px;
	background-position: bottom;
	background-repeat: no-repeat;
	padding-bottom: 20px;
	width: 300px;
}

#newsArea ul li:hover{
	background-image: url("../images/news-selected.gif");
}

#newsArea ul li dl{
	margin-top: 10px;
}

#newsArea ul li dl dt{
	text-align: center;
}

/*---------------------------------------------
infomation
---------------------------------------------*/
.infoArea{
}

.infoAreaInner{
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	padding: 100px 0;
}

.infoImg{
	width: 540px;
}

.infoText{
	position: relative;
	width: 340px;
	height: 350px;
}

.infoText h2{
	margin-bottom: 60px;
}

.infoText .btnMore{
	position: absolute;
	bottom: 0;
	right: 0;
}

.left .infoImg{
	float: left;
}

.left .infoText{
	float: left;
}

.right .infoImg{
	float: right;
}

.right .infoText{
	float: right;
}

.mr80{
	margin-right: 80px;
}

.ml80{
	margin-left: 80px;
}

.grey{
	background-color: #EEE;
}

/*---------------------------------------------
スマホ用
---------------------------------------------*/
@media screen and (max-width: 480px) {
	#newsArea{
		padding: 30px 0;
		background-image: none;
	}

	#newsArea h2{
		margin-bottom: 15px;
	}

	#newsAreaInner{
		width: 300px;
		margin: 0 auto;
	}

	#newsArea ul{
		float: none;
		padding: 0;
		border: none;
	}

	#newsArea ul li{
		background-image: none;
	}

	#newsArea ul li:hover{
		background-image: none;
	}

	.infoArea{
		margin-bottom: 30px;
		border-top: 1px dotted #000;
	}

	.infoArea:last-child{
		margin-bottom: 0;
		padding-bottom: 30px;
	}

	.infoAreaInner{
		padding: 0;
		width: 310px;
	}

	.infoImg{
		width: 310px;
		display: none;
	}

	.infoImg img{
		width: 310px;
		height: auto;
	}

	.left,.right .infoImg{
		float: none;
	}

	.ml80,.mr80{
		margin: 0;
	}

	.infoText{
		position: initial;
		width: 310px;
		height: auto;
	}

	.infoText h2{
		text-align: center;
		margin-top: 20px;
		margin-bottom: 15px;
	}

	.infoText p.btnMore{
		text-align: center;
		margin-top: 10px;
	}

	.infoText .btnMore{
		position: initial;
	}

	#footer p{
		text-align: center;
	}
}