/*
---------------------------------------------
初期設定
---------------------------------------------
*/
*{
	margin: 0;
	padding: 0;
}

h1,h2{
	font-size: 90%;
}

img{
	vertical-align: bottom;
}

li{
	list-style-type: none;
}

#wrap{
	width: 100%;
	height: 100%;
}

/*
---------------------------------------------
ヘッダー
---------------------------------------------
*/
#global-header{
	padding: 14px 0;
	overflow: hidden;
	background-color: #000;
}

#logo{
	float: left;
	margin-left: 10px;
}

#snsArea{
	float: right;
}

#snsArea ul{
	overflow: hidden;
}

#snsArea ul li{
	float: left;
	margin-right: 10px;
	height: 22px;
}

#global-navi{

}

#global-navi ul{
	overflow: hidden;
	background-image: url("../common/images/navi-back.jpg");
}

#global-navi ul li{
	float: left;
	border-right: 1px solid #BEBFC1;
}

/*
---------------------------------------------
メイン
---------------------------------------------
*/
#main{
}

#main ul{
}

#main ul li{
}

#main ul li{
}

/*
---------------------------------------------
コンテンツ
---------------------------------------------
*/
#content{
}

/*
---------------------------------------------
What's New
---------------------------------------------
*/
#newsArea{
	background-image: url("../images/newsarea-border.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	overflow: hidden;
	padding: 60px 0 95px;
}

#newsArea h2{
	text-align: center;
	margin-bottom: 50px;
}

#newsAreaInner{
	overflow: hidden;
	width: 1283px;
	margin: 0 auto;
}

#newsArea ul{
	float: left;
	padding: 0 10px;
	border-right: 1px solid #666666;
}

#newsArea ul:last-child{
	border-right: none;
}

#newsArea ul li{
	background-image: url("../images/news-select.gif");
	background-size: 300px 10px;
	background-position: bottom;
	background-repeat: no-repeat;
	padding-bottom: 20px;
	width: 300px;
}

#newsArea ul li:hover{
	background-image: url("../images/news-selected.gif");
}

#newsArea ul li dl{
	margin-top: 10px;
}

#newsArea ul li dl dt{
	text-align: center;
}