@charset "UTF-8"

// ベンダープレフィックス付与
@import "nib"

// 設定 - 幅やカラーなどの情報を集約
@import "partial/_config"

// 初期化
@import "partial/_default"
// @import "partial/_normalize"

// ベース - サイトの要素設定
@import "partial/_base"

// エクステンド
@import "partial/_extend"

// ミックスイン
@import "partial/_mixin"

// レイアウト - ページ全体やヘッダー、フッター、ナビ
@import "partial/_layout"

// サイド
@import "partial/_side"

// コンテンツ
@import "_module"