// -------------------------------------------------------
// 画像のパス
// -------------------------------------------------------
imgPath       = '/assets/img/'


// -------------------------------------------------------
// レイアウト幅
// -------------------------------------------------------
contentWidth  = 980px
sideColumn    = 240px
oneColumnMain = 920px
twoColumnMain = 690px
topWidth      = 1180px


// -------------------------------------------------------
// ベースカラー
// -------------------------------------------------------
baseColor       = #CBCBCB
mainColor       = #009749
subColor        = #009749
accentColor     = #009749


// -------------------------------------------------------
// ベースフォントカラー
// -------------------------------------------------------
fontColor = #333


// - % の相対指定する場合
// - 使用例：font-size fz(16)
// - px の絶対指定する場合
// - 使用例：font-size fz + 2


// -------------------------------------------------------
// フォントサイズ
// -------------------------------------------------------

// -------------------------------------------------------
// - px のみ使う場合は
// - 記入例：font-size fz + 2（基準サイズが14pxの場合）
// - => 16px
// -------------------------------------------------------
// baseFontSize = 14
// fz = (baseFontSize)px
// body
// 	font-size fz

// -------------------------------------------------------
// - px と rem で指定する場合
// - fz = 62.5%（10px 相当）
// - 使用例：fz(14)
// - => 100%
// -------------------------------------------------------
html
	font-size 62.5%
fz(size)
	font-size (size)px
	font-size (size / 10) * 1rem

// -------------------------------------------------------
// - % で指定する場合
// - fz = (baseFontSize)px
// - 使用例：font-size fz(14)
// - => 100%
// -------------------------------------------------------
// baseFontSize = 14
// body
// 	font-size 100%
// fz(size)
// 	FZ = (baseFontSize)%
// 	fontSize = size / FZ * 100
// 	return size = ceil(fontSize, 1)









// -------------------------------------------------------
// デバイスブレイクポイント
// -------------------------------------------------------
tb = 'screen and (min-width: 1024px)'
sp = 'screen and (min-width: 640px)'
ip = 'screen and (min-width: 320px)'

