// -------------------------------------------------------
// プレースホルダー セレクター
// ※コンパイル後のcssには残らない
// -------------------------------------------------------
$htc
	position relative
	behavior url(/assets/js/PIE.htc)
	// zoom 1

$cl
	overflow hidden
	\/zoom 1

$clearfix
	\/zoom 1
	&:after
		display table
		content ""
		clear both

// -------------------------------------------------------
// リスト
// -------------------------------------------------------
$notes1em
	padding-left 1em
	text-indent -1em

$notes2em
	padding-left 2em
	text-indent -2em

// -------------------------------------------------------
// コンテンツタイトル
// -------------------------------------------------------

// -------------------------------------------------------
// テキスト
// -------------------------------------------------------

// -------------------------------------------------------
// テーブル
// -------------------------------------------------------
// $gnTable
// 	margin-bottom 30px
// 	table
// 		background #fff
// 		border-bottom 1px solid tableBoderColor
// 		border-left 1px solid tableBoderColor
// 		table-layout fixed
// 		th
// 		td
// 			padding 15px
// 			border-top 1px solid tableBoderColor
// 			border-right 1px solid tableBoderColor
// 			vertical-align middle
// 			img
// 				vertical-align middle
// 		th
// 			background tableCellColor01
// 			font-weight bold










// -------------------------------------------------------
// ボタン
// -------------------------------------------------------
// .gnBtn
// .gnBtnIb
// 	position relative
// 	border 1px solid #A4A4A4
// 	border-radius 2px
// 	background linear-gradient(top, #f6f6f6, #dedede)
// 	-pie-background linear-gradient(top, #f6f6f6, #dedede)
// 	background-image unquote('url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc4MCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0Y2RjZGNiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0RFREVERSIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzgwKSIgLz4KPC9zdmc+)')
// 	text-align center
// 	font-weight normal
// 	behavior url(/assets/js/PIE.htc)
// 	a
// 		display block
// 		padding 5px 1em
// 		text-decoration none
// 		cursor pointer
// 		color #000
// 	&.disabled
// 		border-color #D9D9D9
// 		background linear-gradient(top, #fcfcfc, #f3f3f3)
// 		-pie-background linear-gradient(top, #fcfcfc, #f3f3f3)
// 		background-image unquote('url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0ZDRkNGQyIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0YzRjNGMyIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzUyKSIgLz4KPC9zdmc+)')
// 		color #A0A0A0
// 		a
// 			color #A0A0A0

// .gnBtnIb
// 	display inline-block

// .btnSet01
// 	a
// 		display block
// 		padding 0 10px
// 		text-decoration none
// 		font-weight normal
// 		cursor pointer
// 		color #FFF

// .btnSet01
// 	position relative
// 	padding 5px 0
// 	border-radius 5px
// 	border 1px solid btnBoderColor01
// 	background-color btnBgColorTop01
// 	background linear-gradient(top, btnBgColorTop01, btnBgColorBottom01)
// 	-pie-background linear-gradient(top, btnBgColorTop01, btnBgColorBottom01)
// 	box-shadow 0 0 0 rgba(000, 000, 000, 0), inset 0px 1px 1px rgba(255, 255, 255, 0.6)
// 	text-align center
// 	font-weight bold
// 	font-size fz + 2px
// 	color btnFontColor01
// 	behavior url(/assets/js/PIE.htc)
// 	background-image unquote('url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MDciIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM3N0Q0MkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM2N0MyMUQiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MDcpIiAvPgo8L3N2Zz4=)')




