#page
	background #fff

// page
// #page

// ヘッダー
// header
// 	width 100%
// 	margin-bottom 20px
// 	.inner
// 		width topWidth
// 		margin 0 auto

// フッター
// footer
// 	margin-top 20px
// 	.inner
// 		width topWidth
// 		margin 0 auto

// グローバルナビ
// nav#globalNavi
// 	.inner
// 		border 1px solid #f00

// パンくず
// #topicPath

// コンテンツ
// #contents

// 1カラム
// .oneColumn
// 	width contentWidth
// 	margin 0 auto 20px
// 	#main
// 		width oneColumnMain
// 		padding 0 30px

// 2カラム
// .twoColumn
// 	width contentWidth
// 	margin 0 auto 20px
// 	@extend .clearfix
// 	#side
// 		float left
// 		width sideColumn
// 	#main
// 		float right
// 		width twoColumnMain

