// -------------------------------------------------------
// フォントサイズ
// -------------------------------------------------------

// - px のみ使う場合は下２つコメントアウト
// - 記入例：font-size fz + 2
// - => 16px（基準サイズが14pxの場合）

// - px と rem で指定する場合
// - fz = 62.5%
// -------------------------------------------------------
// fz(size)
// 	font-size (size)px
// 	font-size (size / 10) * 1rem

// - % で指定する場合
// - fz = (baseFontSize)px
// -------------------------------------------------------
// fz(size)
// 	FZ = (baseFontSize)%
// 	fontSize = size / FZ * 100
// 	return size = ceil(fontSize, 1)


// -------------------------------------------------------
// リンクカラー
// -------------------------------------------------------
linkColor(normal, hover)
	color normal
	&:hover
		color hover


// -------------------------------------------------------
// アイコン - 矢印
// -------------------------------------------------------






