// -------------------------------------------------------
// リンクカラー
// -------------------------------------------------------
linkColor(normal, hover)
	color normal
	&:hover
		color hover


// -------------------------------------------------------
// アイコン - 矢印
// -------------------------------------------------------






