@charset "UTF-8";

@import url("default.css");
@import url("layout.css");
@import url("side.css");
@import url("module.css");
@import url("add_style.css");




/* CSS hack list
=========================================================== */

/* for IE6 and below */
* html selector{
property:value;
}

/* for IE7 only */
*:first-child+html selector{
property:value;
}

/* for IE8 only */
html>/**/body selector{
property/*\**/:value\9;
}

/* for IE9 only */
body:not(:target){
color: value¥9;
}

/* for Firefox3 only */
selector, x:-moz-broken{
property:value;
}

/* for safari 3-4 & Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0){
selector{property:value;}
}



/* font size list
=========================================================== */
/*

 8px - 62%
 9px - 69%
10px - 77%
11px - 85%
12px - 93%
13px - 100%
14px - 108%
15px - 116%
16px - 123.1%
17px - 131%
18px - 138.5%
19px - 146.5%
20px - 153.9%
21px - 161.6%
22px - 167%
23px - 174%
24px - 182%
25px - 189%
26px - 197%

*/



/* ===========================================================

   コメントアウトリスト

=========================================================== */


/* ===========================================================
   
=========================================================== */


/* 
=========================================================== */


/* -----------------------------------------------------------
   
----------------------------------------------------------- */


/* 
----------------------------------------------------------- */


