@charset "UTF-8";

/* module style [共通パーツ]
=========================================================== */

/* ===========================================================

   page top

=========================================================== */
.pageTop{
}

.pageTop a{
}



/* ===========================================================

   attention [注意（※など）]

=========================================================== */
.attention01{
padding-left:1em;
text-indent:-1em;
}

.attention02{
padding-left:1em;
text-indent:-1em;
color:#FF0000;
}



